#################################################################################
######################### ProForge 5 Enclosure Config  ##########################
#################################################################################

#config file version v1.0.0
#release date: 17.03.2026

[fan_generic filter_fan]
pin: PD12
kick_start_time: 0.250

[fan_generic exhaust_fan]
pin: PE5
kick_start_time: 0.250


[fan_generic _chamber_fan]
pin: PA8
kick_start_time: 0.250

[heater_generic _chamber_heater]
heater_pin: PB11
sensor_pin: PF4
sensor_type: Generic 3950
control: watermark
max_power: 1
min_temp: -30
max_temp: 55

[verify_heater _chamber_heater]
max_error: 120
check_gain_time: 360
heating_gain: 0.5
hysteresis: 2.0

[gcode_macro SET_CHAMBER]
description: Set chamber heater and manage chamber fan overrun
gcode:
    {% set target = params.S|default(0)|float %}

    SET_HEATER_TEMPERATURE HEATER=_chamber_heater TARGET={target}

    {% if target > 0 %}
        SET_FAN_SPEED FAN=_chamber_fan SPEED=1.0
        UPDATE_DELAYED_GCODE ID=chamber_fan_off DURATION=0
    {% else %}
        UPDATE_DELAYED_GCODE ID=chamber_fan_off DURATION=180
    {% endif %}

[gcode_macro CHAMBER_OFF]
description: Turn chamber heater off and keep chamber fan on for 3 minutes
gcode:
    SET_HEATER_TEMPERATURE HEATER=_chamber_heater TARGET=0
    UPDATE_DELAYED_GCODE ID=chamber_fan_off DURATION=180


[delayed_gcode chamber_fan_off]
gcode:
    SET_FAN_SPEED FAN=_chamber_fan SPEED=0

[gcode_macro TURN_OFF_HEATERS]
rename_existing: TURN_OFF_HEATERS_BASE
description: Turn off all heaters and keep chamber fan on for 3 minutes
gcode:
    TURN_OFF_HEATERS_BASE
    UPDATE_DELAYED_GCODE ID=chamber_fan_off DURATION=180



    