############################################################################
####################### ProForge 5 Variables Config ########################
############################################################################

#config file version v1.0.0
#release date: 17.03.2026

[Variables]
#Active Print Heads:
active_tools = 5

# Print Head SELECT Positions:

# Print Head 1:
zero_select_x = 0
zero_select_y = 0

# Print Head 2:
one_select_x = 0
one_select_y = 0

# Print Head 3:
two_select_x = 0
two_select_y = 0

# Print Head 4:
three_select_x = 0
three_select_y = 0

# Print Head 5:
four_select_x = 0
four_select_y = 0


# Print Head DOCKING Positions:

# Print Head 1:
zero_dock_x = 0
zero_dock_y = 0

# Print Head 2:
one_dock_x = 0
one_dock_y = 0

# Print Head 3:
two_dock_x = 0
two_dock_y = 0

# Print Head 4:
three_dock_x = 0
three_dock_y = 0

# Print Head 5:
four_dock_x = 0
four_dock_y = 0





# Print Head X/Y Offsets:

# Print Head 1: 
# (0,0,0) - reference position

# Print Head 2 Offset:
one_x_offset = 0
one_y_offset = 0
one_z_offset = 0

# Print Head 3 Offset:
two_x_offset = 0
two_y_offset = 0
two_z_offset = 0

# Print Head 4 Offset:
three_x_offset = 0
three_y_offset = 0
three_z_offset = 0

# Print Head 5 Offset:
four_x_offset = 0
four_y_offset = 0
four_z_offset = 0
